body {
    font-family: 'Faustina', serif;
}

/*header*/
#wrapper {
    border: 2px solid black;
    background: rgb(245, 240, 240);
}

.header-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.header_link_logo {
    width: 100px;
    opacity: .8;
    background: rgb(245, 240, 240);
    margin-bottom: 20px;
}

.list_item {
    font-size: 1em;
    color: #353f52;
}

/*main*/

.main {
    margin: 20px;
}

.main_list {
    color: black;
    font-size: 15px;
}

.main_list_item {
    font-family: 'Courgette', cursive;
}

.main_content {
    font-family: 'Faustina', serif;
    font-size: 2em;
}

.main_content h1 {
    text-align: center;
    margin-top: 10px;
}

.main_content_text {
    font-size: 25px;
    margin: 10px;
    padding: 10px 15px;
}

.main_info {
    margin-left: 20px;
    margin-right: 20px;
}

.main_info_text {
    font-family: 'Courgette', cursive;
    color: gray;
    font-size: 20px;
}

/*footer*/

.footer {
    margin-top: 10px;
    padding: 10px;
}

.footer h3 {
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.footer .footer-content {
    padding:  0 15px 15px 15px;
    text-align: center;
    color: gray;
}